<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header>
		<h1>MileStone</h1>
		<nav>
			[[${@account.name}]]さん　
			<span id="greeting"></span>
			<p><a href="/logout">ログアウト</a></p>
		</nav>
	</header>

	<h2>ToDo詳細</h2>

	<table border="1">
		<tr>
			<th>タイトル</th>
			<th>期限</th>
			<th>内容</th>
			<th>変更</th>
			<th>削除</th>
		</tr>
		<tr>
			<td th:text="${title.title}"></td>
			<td th:text="${title.deadline}"></td>

			<td th:text="${title.titleContents}"></td>

			<td>
				<form th:action="@{/todo/edit/{id}(id=${title.id})}" method="get">


					<button>変更</button>
				</form>
			</td>
			<td>
				<form th:action="@{/delete/{id}(id=${title.id})}" method="get">
					<button> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-trash3-fill" viewBox="0 0 16 16">
							<path
								d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
						</svg></button>
				</form>
			</td>
		</tr>
	</table>

	<h3>このToDoの進捗度</h3>
	<h1>[[${title.titleProgress}]]%</h1>





	<th:block th:if="${deleteMsg}">

		<p th:text="${deleteMsg}"></p>

	</th:block>

	<table border="1">
		<tr>
			<th>タスク</th>
			<th>進捗</th>
			<th>削除</th>
		</tr>
		<tr th:each="task:${tasksList}">
			<td th:text="${task.taskTitle}"></td>

			<td>
				<form action="/todo/change/progress" method="get">
					<select name="progress">
						<option value="0" th:selected="${task.taskProgress == 0}">0</option>
						<option value="1" th:selected="${task.taskProgress == 1}">1</option>
						<option value="2" th:selected="${task.taskProgress == 2}">2</option>
						<option value="3" th:selected="${task.taskProgress == 3}">3</option>
						<option value="4" th:selected="${task.taskProgress == 4}">4</option>
						<option value="5" th:selected="${task.taskProgress == 5}">5</option>
					</select>

					<input type="hidden" name="id" th:value="${task.id}">
					<input type="hidden" name="titleId" th:value="${task.titleId}">


					<button>進捗度を更新する</button>
				</form>

			</td>

			<td>
				<form th:action="@{/deleteTask/{id}(id=${task.id})}" method="get">
					<input type="hidden" name="titleId" th:value="${task.titleId}">
					<button> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-trash3-fill" viewBox="0 0 16 16">
							<path
								d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
						</svg></button>
				</form>
			</td>

		</tr>
	</table>


	<a href="/todo">ToDo一覧に戻る</a>

	<br>


	<small>group c</small>


	<!--	時間で変わるメッセージを表示するJavascript読み込み-->
	<script th:src="@{/js/hourMessage.Js}"></script>

</body>

</html>

</body>

</html>