<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header>
	    <h1>わたちがやる</h1>
	    <nav>
			[[${@account.name}]]さん<br>お疲れさまです<br>
			<a href="/logout">ログアウト</a>
	    </nav>
	</header>

	<h1>ToDo詳細</h1>

	<table border="1">
		<tr>
			<th>タイトル</th>
			<th>期限</th>
			<th>内容</th>
			<th>変更</th>
			<th>削除</th>
		</tr>
		<tr>
			<td th:text="${title.title}"></td>
			<td th:text="${title.deadline}"></td>

			<td th:text="${title.titleContents}"></td>

			<td>
				<form th:action="@{/todo/edit/{id}(id=${title.id})}" method="get">


					<button>変更</button>
				</form>
			</td>
			<td>
				<form th:action="@{/delete/{id}(id=${title.id})}" method="get">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>

	<h3>このToDoの進捗度</h3>
		<h1>[[${title.titleProgress}]]%</h1>

	




	<table border="1">
		<tr>
			<th>タスク</th>
			<th>進捗</th>
			<th>削除</th>
		</tr>
		<tr th:each="task:${tasksList}">
			<td th:text="${task.taskTitle}"></td>

			<td>
				<form action="/todo/change/progress" method="get">
				<select name="progress">
					<option value="0" th:selected="${task.taskProgress == 0}">0</option>
					<option value="1" th:selected="${task.taskProgress == 1}">1</option>
					<option value="2" th:selected="${task.taskProgress == 2}">2</option>
					<option value="3" th:selected="${task.taskProgress == 3}">3</option>
					<option value="4" th:selected="${task.taskProgress == 4}">4</option>
					<option value="5" th:selected="${task.taskProgress == 5}">5</option>
				</select>
				
				<input type="hidden" name="id" th:value="${task.id}">
				<input type="hidden" name="titleId" th:value="${task.titleId}">

				
					<button>更新</button>
				</form>

			</td>

			<td>
				<form th:action="@{/deleteTask/{id}(id=${task.id})}" method="get">
					<input type="hidden" name="titleId" th:value="${task.titleId}">
					<button>削除</button>
				</form>
			</td>

		</tr>
	</table>


	<form action="/todo" method="get">
		<button>ToDo一覧に戻る</button>
	</form>
	
	<a href="/logout">ログアウト</a>
	<footer class="footer-2">
			<small>group c</small>
		</footer>
</body>

</html>

</body>

</html>