<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header>
		<h1>MileStone</h1>
		<p>ようこそ</p>
	</header>

<h2>ログイン画面</h2>

	<th:block th:if="${msg}">

		<p th:text="${msg}"></p>

	</th:block>
	
	   
	   
	
	<form action="/login" method="post">
		<input type="text" name="name" class="textbox-3" placeholder="なまえ" maxlength=20>
		<br>
		<input type="text" name="password" class="textbox-3" placeholder="password" maxlength=20>
		<br>
		<button>ログイン</button>
		<br>
		<a href="/users/new">新規登録</a>
	</form>
</label>

		<small>group c</small>
	
	
	<!--	文字数制限Javascript読み込み-->
				<script th:src="@{/js/mojiMax.Js}"></script>

	
</body>

</html>