<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header>
		<h1>MileStone</h1>
		<p>ようこそ</p>
	</header>

<h2>ログイン画面</h2>

	<th:block th:if="${msg}">

		<p th:text="${msg}"></p>

	</th:block>
	
	   
	   
	
	<form action="/login" method="post">
		<input type="text" name="name" class="textbox-3" placeholder="なまえ" maxlength=20>
		<br>
		<input type="text" name="password" class="textbox-3" placeholder="password" maxlength=20>
		<br>
		<button class="button-login">ログイン</button>
		<br>
		<a href="/users/new">
			
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
			  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
			  <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
			</svg>
			
			新規登録</a>
	</form>
</label>

		<small>group c</small>
	
	
	<!--	文字数制限Javascript読み込み-->
				<script th:src="@{/js/mojiMax.Js}"></script>

	
</body>

</html>