<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header>
		<h1>わたちがやる</h1>
		<h3>ログイン画面</h3>
	</header>



	<th:block th:if="${msg}">

		<p th:text="${msg}"></p>

	</th:block>
	<label>
	    <span class="textbox-3-label">ラベルの例</span>
	   
	
	<form action="/login" method="post">
		<input type="text" name="name" class="textbox-3">
		<br>
		<input type="text" name="password" class="textbox-3">
		<br>
		<button>ログイン</button>
		<br>
		<a href="/users/new">新規登録</a>
	</form>
</label>
<footer class="footer-2">
		<small>group c</small>
	</footer>
</body>

</html>