<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header>
		<h1>MileStone</h1>
		<p>はじめまして</p>
	</header>

	<h2>新規登録</h1>

		<th:block th:if="${msg}">

			<p th:text="${msg}"></p>

		</th:block>
		
		

		<form action="/users/add" method="post">
			<input type="text" name="name" placeholder="なまえ" class="textbox-3" maxlength=20>
			<br>
			<input type="text" name="password" placeholder="パスワード" class="textbox-3" maxlength=20>
			<br>
			<button class="button-login">登録する</button>
		</form>

		<a href="/login">
			
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
			  <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
			</svg>
			
			
			ログイン画面に戻る</a>

		<br>
			<small>group c</small>
		

		<!--	文字数制限Javascript読み込み-->
		<script th:src="@{/js/mojiMax.Js}"></script>

</body>

</html>