<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header>
		<h1>MileStone</h1>
		<p>はじめまして</p>
	</header>

	<h2>新規登録</h1>

		<th:block th:if="${msg}">

			<p th:text="${msg}"></p>

		</th:block>
		
		

		<form action="/users/add" method="post">
			<input type="text" name="name" placeholder="なまえ" class="textbox-3" maxlength=20>
			<br>
			<input type="text" name="password" placeholder="パスワード" class="textbox-3" maxlength=20>
			<br>
			<button>登録する</button>
		</form>

		<a href="/login">ログイン画面に戻る</a>

		<br>
			<small>group c</small>
		

		<!--	文字数制限Javascript読み込み-->
		<script th:src="@{/js/mojiMax.Js}"></script>

</body>

</html>