<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	
	<header>
	    <h1>MileStone</h1>
	    <nav>
			[[${@account.name}]]さん　
			<span id="greeting"></span>
			<p><a href="/logout">ログアウト</a></p>
	    </nav>
	</header>
	
	
	<h2>ToDo一覧</h2>
	
	<th:block th:if="${nullMsg}">

				<p th:text="${nullMsg}"></p>

			</th:block>

	
	<table border="1">
		<tr>
			<th>タイトル</th>
			<th>期限</th>
			<th>進捗</th>
			<th>内容</th>
			<th>削除</th>
		</tr>
		<tr th:each="title:${titlesList}">
			<td><a th:href="@{/todo/detail/{id}(id=${title.id})}">[[${title.title}]]</a></td>
			<td th:text=${title.deadline}></td>
			<td th:text=${title.titleProgress}></td>
			<td th:text=${title.titleContents}></td>

			<td>
				<form th:action="@{/delete/{id}(id=${title.id})}" method="get">
					<button>削除</button>
				</form>
			</td>

		</tr>
	</table>
	
	
	
	<form action="/todo/new" method="get">
		<button class="button-2">ToDoを追加する</button>
	</form>
	
	
		<small>group c</small>
	
	
	<!--	Javascript読み込み-->
		<script th:src="@{/js/hourMessage.Js}"></script>
	
</body>

</html>